rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == "zada.perfumes7@gmail.com" ||
        request.auth.uid == "kSqKKr0RkoRNVM7j2Sz0nXvVhqX2"
      );
    }

    // Products & Categories are public for reading
    match /products/{productId} {
      allow read, get, list: if true;
      allow write: if isAdmin();
    }

    match /categories/{categoryId} {
      allow read, get, list: if true;
      allow write: if isAdmin();
    }

    // Users and Wishlists are private to the owner or admin
    match /users/{userId} {
      allow read, get, list: if isOwner(userId) || isAdmin();
      allow create: if isOwner(userId);
      allow update: if isOwner(userId) || isAdmin();
    }

    match /wishlists/{userId} {
      allow read, get, list, write, create, update: if isOwner(userId) || isAdmin();
    }

    // Orders
    match /orders/{orderId} {
      allow read, get, list: if isSignedIn() && (resource.data.userId == request.auth.uid || isAdmin());
      allow create: if isSignedIn() ;
      allow update: if isAdmin();
    }

    // Settings & Discounts
    match /settings/{settingId} {
      allow read, get, list: if true;
      allow write: if isAdmin();
    }

    match /discounts/{discountId} {
      allow read, get, list: if true;
      allow write: if isAdmin();
    }

    // Default Deny
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
